.env
*.nogit*
.bash_history
*.crt
.tanzu
.local
.azure
.ssh

.vmware-cna-saas
.kube/*
!.kube/.gitkeep
.ssh/*
!.ssh/.gitkeep
binaries/*
!binaries/.gitkeep
!binaries/init.sh
!binaries/akstmcwizard.sh
!binaries/akscreateandattach.sh
!binaries/readparams.sh